@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .reasons
        .reason_block
            align-items: flex-start
        .reason_descr
            width: 300px
    .subheader
        &_phone
            font-size: 18px